<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">友情链接</h4>
                    <div class="content friend-links">
                        <a href="http://www.bootcss.com/" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Bootstrap中文网</a>
                        <a href="https://www.djangoproject.com/" title="django文档" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'django文档'])" target="_blank">django文档</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">此网站用到的技术</h4>
                    <div class="content tag-cloud">
                        <a href="http://www.bootcss.com/" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Bootstrap</a>
                        <a href="https://www.djangoproject.com/" title="django文档" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'django文档'])" target="_blank">django</a>
                        <a href="http://www.jquery123.com/" title="jQuery中文文档" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'jQuery中文文档'])" target="_blank">jQuery</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">联系我</h4>
                    <div class="content friend-links">
                        <a href="{% url 'about' %}" title="关于" onclick="_hmt.push(['_trackEvent', 'link', 'click', '关于'])" target="_blank">关于</a>
                        <a href="{% url 'webhistory' %}" title="网站历史" onclick="_hmt.push(['_trackEvent', 'link', 'click', '网站历史'])" target="_blank">网站历史</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="{% url 'home' %}"><strong>车溪</strong></a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank"></a></span>
            </div>
        </div>
    </div>
</div>
